<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JXFlowCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>269D271C1E7CC58D00C83473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>269D27351E7CC58D00C83473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>269D27401E7CC58D00C83473</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
